@import '../../styles/variables.scss';

.faction-slot {
  position: absolute;
  width: 80px;
  height: 80px;
  border: $buttonBorder;
  color: $buttonTextColor;
  line-height: 80px;
  text-align: center;
  cursor: pointer;

  &-0 {
    top: 10%;
    left: 50%;
    margin-left: -40px;
  }

  &-1 {
    top: 25%;
    left: 0;
  }

  &-2 {
    top: 75%;
    left: 0;
  }

  &-3 {
    top: 90%;
    left: 50%;
    margin-left: -40px;
  }

  &-4 {
    top: 75%;
    right: 0;
  }

  &-5 {
    top: 25%;
    right: 0;
  }

  &-selector {
    font-size: $subTitleFontSize;
    li {
      cursor: pointer;
    }
  }
}
