$backgroundColor: white;
$blockBackgroundColor: gray;
$textColor: #408bbd;
$buttonTextColor: #408bbd;
$buttonTextHoverColor: #61b0e7;
$buttonColor: #fff;
$buttonBorder: 2px solid #408bbd;
$titleFontSize: 30px;
$subTitleFontSize: 20px;
$contentFontSize: 16px;
